.add-todos-btn-container {
}

.todo-add {
    height: 100%;
    min-height: 10rem;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    background-color: #000000f5;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(156 163 175);
    padding: 1rem 1.5rem 1rem;
    border-radius: 10px;  
}